import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from binance.client import Client
import time
import tkinter as tk
from tkinter import ttk
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import matplotlib.pyplot as plt
from matplotlib.figure import Figure
import numpy as np
from flask import Flask, render_template
from tradingBot import runTradingBot 
