<!doctype html>
<html>
<head>
    <title>Run Python Script</title>
    <meta name="description" content="My first page">
</head>
<body>
    <h1>Start Trading Bot</h1>
    <form action="/run_script" method="post">
         <!--<h4>Enter Cryptocurrency Name: <input type="text" name="cryptocurrency_name"></h4> -->
         <!--<h4>Enter Cryptocurrency Symbol/Pair:  <input type="text" name="cryptocurrency_symbol_pair"> -->
        </h4>
        <br>
        <input type="submit" value="Run Script">
    </form>
</body>
</html>


